<!-- Begin Page Content -->
<div class="container-fluid">

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h3 class="m-0 font-weight-bold"><%= data.judul %></h3>
    </div>
    <div class="card-body">
      <div class="card-text">
        <p><%= data.konten %></p>
      </div>
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer">Ditulis oleh: <%= data.pengguna.username %> <cite title="Source Title"><%= data.tanggal %></cite></footer>
      </blockquote>
    </div>
  </div>

</div>